<div class="login-body">
    <div class="login-title">
        <img class="logo" src="assets/logo.png" alt=""> 
        <div class="title">Bumble 2 Login Page</div>
    </div>
    
    <div class = 'login-form'>
        <div class = "form-div"> 
            <label for="username">Username</label>
            <input type="text" name="username" class ="form-control" />
        </div>
        <div class = "form-div"> 
            <label for="password">Password</label>
            <input type="password" name="password" class ="form-control" />
        </div>
        <div class="button-div">
            <button type="button" class="btn btn-primary btn-lg">Login</button>
        </div>
        <div class="button-div">
            <button type="button" class="btn btn-primary btn-lg">Register</button>
        </div>
    </div>
</div> 
